body {
  padding: 20px 0;
  font-size: 1px;
}

#controls {
  text-align: center;
}

#canvas {

}

#world {
  width: auto;
  min-width: 750px;
  margin: 0 auto;
}

#world td {
  border: 1px solid #dcdcdc;
  width: 5px;
  height: 5px;
}

#world .dead {
  background: #fff;
}

#world .alive {
  background: #000;
}
